
body { text-align: justify }

blockquote { margin: 0em 0em 0em 2em; }

p { margin: 0em; text-indent: 1.5em }

.bold { font-weight: bold }

.italic { font-style: italic }

.underline { text-decoration: underline }

.mbp_pagebreak {
    page-break-after: always; margin: 0; display: block
}


.calibre_40564 { margin-top: 1em; text-indent: 2em }

.calibre_291 { text-indent: 34% }

.calibre_19042 { margin-top: 1em; text-indent: 0pt; text-align: right }

.calibre_292 { margin-top: 8pt; text-indent: 2em }

.calibre_16 { margin-top: 4pt; text-indent: 0pt }

.calibre_1360 { margin-top: 14pt; text-indent: 0pt; text-align: center }

.calibre_257 { margin-top: 0pt; text-indent: 0pt; text-align: right }

.calibre_12 { margin-top: 2em; text-indent: 0pt }

.calibre_229 { margin-top: 0pt; text-indent: 2em }

.calibre_9 { margin-top: 2em; text-indent: 0pt; text-align: center }

.calibre_219 { margin-top: 3pt; text-indent: 0pt }

.calibre_218 { vertical-align: baseline }

.calibre_1354 { margin-top: 8pt; text-indent: 0pt }

.calibre_319 { text-align: middle }

.calibre_221 { margin-top: 0pt; text-indent: 0pt }

.calibre_217 { margin-top: 3pt; text-indent: 0pt; text-align: center }

.calibre_1363 { margin-top: 1em; text-indent: 0pt; text-align: center }

.calibre_41109 { margin-top: 3pt; text-indent: 2em }

.calibre_420 { margin-top: 1em; text-indent: 0pt }

.calibre_328 { margin-top: 2em; text-indent: 2em }

